!src/collective
.coverage*
.pydevproject
.pytest_cache
.python-version
.settings/
.vscode/
*.egg-info
*.log
*.mo
*.pyc
*.swp
bin/
docs/doctrees/
docs/html/
docs/make.bat
docs/Makefile
downloads
eggs
etc/
include/
inituser
lib/
local/
log.html
parts/
pip-selfcheck.json
report.html
var/
