.organizationLogo {
  position: relative;
  z-index: 2;
  margin-bottom: 1em;
  clear: both;
  figure {
    padding: 0 10px;
    background: var(--organization-logo-background-color);
    float: right;
    img {
      max-width: var(--organization-logo-max-width);
      margin-left: 1em !important;
    }
  }
}
