.case-studies-list {
  display: grid;
  padding: 0;
  margin: 0;
  gap: var(--case-study-card-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--case-study-card-min-width), 1fr)
  );
  list-style: none;
}
